@{ 
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <div style="background-color: palevioletred">
        <h1 style="display: block; width: max-content; margin: 20px auto">
            Ошибка при обработке запроса
        </h1>
    </div>
</body>
</html>
