@{
    Layout = null;
    ViewBag.Title = "Page not found";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="background-color: palevioletred">
        <h1 style="display: block; width: max-content; margin: 20px auto">
            Ошибка 404 (страница не найдена)
        </h1>
    </div>
</body>
</html>
